.c--section-a {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  padding: calc(#{$headerDesktop} + 2rem) 6vw 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media all and ($viewport-type: $tablets) {
    padding: calc(#{$headerTablets} + 1rem) 1.25rem 4rem;
  }

  &__body {
    position: relative;
    max-width: 60rem;
    margin-top: 1.5rem;
  }
}
