.c--home-a {
  flex: 1;
  display: grid;
  gap: 3.5rem;
  grid-template-columns: minmax(0, 52rem) minmax(0, 1fr);
  align-items: center;
  justify-content: center;

  @media all and ($viewport-type: $tablets) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: start;
  }
}
